<div class="container d-flex justify-content-center mt-5">
    <img class="mx-2" src="/icons/mount_guide.png" />
    <h2 class="text-center mx-2">Mounts</h2>
</div>

<form class="container d-flex justify-content-center align-items-center my-4 mx-auto" method="GET" action="/mounts">
    <div class="form-floating">
        <% if (searchReq) { %>
            <input class="form-control" id="search" type="text" name="search" value="<%= searchReq %>" placeholder="chocobo" />
        <% } else { %>
            <input class="form-control" id="search" type="text" name="search" placeholder="chocobo" />
        <% } %>
        <label for="search">Search mounts</label>
    </div>
    
    <button class="btn btn-primary m-3" type="submit">Search</button>
</form>

<ul class="container list-group">
    <% mounts.forEach(mount => { %>
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <a class="d-flex align-items-center" href="/mounts/<%= mount.id %>">
                    <img class="m-3" src="<%= mount.icon %>" width="40" height="40" />
                    <h5 class="text-center m-0"><%= mount.name %></h5>
                </a>

                <% if (userMountsIds) { %>
                    <% if (userMountsIds.includes(mount.id)) { %>
                        <button class="btn btn-success py-2">Saved!</button>
                    <% } else { %>
                        <form method="POST" action="/mounts/users/<%= userId %>">
                            <input type="number" value="<%= mount.id %>" name="apiId" hidden />
                            <input type="text" value="<%= mount.name %>" name="name" hidden />
                            <input type="text" value="<%= mount.icon %>" name="icon" hidden />
                            <button class="btn btn-info py-2" type="submit">Save?</button>
                        </form>
                    <% } %>
                <% } %>
            </div>
        </li>
    <% }) %>
</ul>