<form method="GET" action="/mounts">
    <label for="search">Search:</label>
    <input id="search" type="text" name="search" />
    <button type="submit">Search</button>
</form>

<ul>
    <% mounts.forEach(mount => { %>
        <li>
            <ul>
                <img src="<%= mount.icon %>" />

                <li>
                    <a href="/mounts/<%= mount.id %>"><%= mount.name %></a>
                </li>

                <li>Seats:<%= mount.seats %></li>

                <li>Patch:<%= mount.patch %></li>
            </ul>
        </li>
    <% }) %>
</ul>