<div class="container card-group my-5">
    <div class="card">
        
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <img class="px-5" src="<%= mount.image %>" />
                
                <h6 class="text-wrap"><%= mount.tooltip %></h6>
            </div>

            <h2 class="card-title"><%= mount.name %></h2>
            
            <p class="card-text"><%= mount.description %></p>
            
            <p class="card-text"><%= mount.enhanced_description %></p>
            
        </div>
        <div class="card-footer py-3">
            <!-- if a user is logged in and has NOT saved this -->
            <% if (user && !saved) { %>
                <!-- display form/button to save -->
                <form method="POST" action="/mounts/users/<%= user.id %>">
                    <input type="number" value="<%= mount.id %>" name="apiId" hidden />
                    <input type="text" value="<%= mount.name %>" name="name" hidden />
                    <input type="text" value="<%= mount.icon %>" name="icon" hidden />
                    <button class="btn btn-info" type="submit">Save?</button>
                </form>
            <!-- if a user is logged in and HAS saved this -->
            <% } else if (user && saved) { %>
                <button class="btn btn-success">Saved!</button>
            <!-- when user is not logged in -->
            <% } else { %>
                <button class="btn btn-info">Log in to save</button>
            <% } %>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Added in patch <%= mount.patch %></li>
    
                <li class="list-group-item"># of Seats: <%= mount.seats %></li>
                
                <li class="list-group-item">Movement type: <%= mount.movement %></li>
                
                <% if (mount.tradeable) { %>
                    <li class="list-group-item">Tradeable: Yes</li>
                <% } else { %>
                    <li class="list-group-item">Tradeable: No</li>
                <% } %>
                
                <li class="list-group-item">Percent owned: <%= mount.owned %></li>
                
                <li class="list-group-item">
                    <p>How to obtain:</p>
    
                    <ul>
                        <% mount.sources.forEach(source => { %>
                            <li>
                                <p><%= source.type %>: <%= source.text %></p>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </div>

        <% if (mount.bgm) { %>
            <div class="card-footer d-flex align-items-center">
                <span class=>BGM Preview: </span>

                <audio class="px-3" controls controlslist="nodownload">
                    <source src="<%= mount.bgm %>" />
                    Your browser does not support audio 😞
                </audio>
            </div>
        <% } %>
    </div>
</div>