<h2><%= mount.name %></h2>

<img src="<%= mount.image %>" />

<p>Description: <%= mount.description %></p>

<p>Enhanced description: <%= mount.enhanced_description %></p>

<p>Tooltip: <%= mount.tooltip %></p>

<p>Movement type: <%= mount.movement %></p>

<p>Seats: <%= mount.seats %></p>

<p>Patch: <%= mount.patch %></p>

<p>Tradable: <%= mount.tradeable %></p>

<p>Owned: <%= mount.owned %></p>

<p>Sources:</p>
<ul>
    <% mount.sources.forEach(source => { %>
        <li>
            <p><%= source.type %>: <%= source.text %></p>
        </li>
    <% }) %>
</ul>

<% if (user && !saved) { %>
    <form method="POST" action="/mounts/users/<%= user.id %>">
        <input type="number" value="<%= mount.id %>" name="apiId" hidden />
        <input type="text" value="<%= mount.name %>" name="name" hidden />
        <button type="submit">Save</button>
    </form>
<% } else if (user && saved) { %>
    <button>Saved!</button>
<% } %>