<h2 class="my-3 text-center">Here's your collection <%= user.email %>!</h2>

<div class="container text-center my-5">
    <h3>Mounts</h3>

    <% if (user.mounts.length <= 0) { %>
        <p>No mounts saved 😞 Try searching for some to track!</p>
    <% } %>
    
    <% user.mounts.forEach(mount => { %>
        <ul class="list-group list-group-horizontal my-3">
            <a class="list-group-item list-group-item-action" href="/mounts/<%= mount.apiId %>">
                <img class="mx-3" src="<%= mount.icon %>" />
                <h5 class="d-inline mx-3"><%= mount.name %></h5>
            </a>
    
            <li class="list-group-item list-group-item-action">
                <form method="POST" action="/mounts/<%= mount.id %>/?_method=PUT">
                    <% if (mount.obtained) { %>
                        <input class="btn-check" id="<%= mount.id %>-obtained-mount" type="radio" value="t" name="obtained" checked />
                        <label class="btn btn-outline-success" for="<%= mount.id %>-obtained-mount">Have</label>
    
                        <input class="btn-check" id="<%= mount.id %>-unobtained-mount" type="radio" value="f" name="obtained" />
                        <label class="btn btn-outline-warning" for="<%= mount.id %>-unobtained-mount">Don't have</label>    
                    <% } else { %>
                        <input class="btn-check" id="<%= mount.id %>-obtained-mount" type="radio" value="t" name="obtained" />
                        <label class="btn btn-outline-success" for="<%= mount.id %>-obtained-mount">Have</label>
    
                        <input class="btn-check" id="<%= mount.id %>-unobtained-mount" type="radio" value="f" name="obtained" checked />
                        <label class="btn btn-outline-warning" for="<%= mount.id %>-unobtained-mount">Don't have</label>
                    <% } %>
    
                    <button hidden type="submit"></button>
                </form>
            </li>
    
            <form method="POST" action="/mounts/<%= mount.id %>/?_method=DELETE">
                <button class="list-group-item list-group-item-action list-group-item-danger py-3" type="submit">Remove</button>
            </form>
        </ul>
    <% }) %>
</div>

<div class="container text-center my-5">
    <h3>Minions</h3>

    <% if (user.minions.length <= 0) { %>
        <p>No minions saved 😞 Try searching for some to track!</p>
    <% } %>
    
    <% user.minions.forEach(minion => { %>
        <ul class="list-group list-group-horizontal my-3">
            <a class="list-group-item list-group-item-action" href="/minions/<%= minion.apiId %>">
                <img class="mx-3" src="<%= minion.icon %>" />
                <h5 class="d-inline mx-3"><%= minion.name %></h5>
            </a>
    
            <li class="list-group-item list-group-item-action">
                <form method="POST" action="/minions/<%= minion.id %>/?_method=PUT">
                    <% if (minion.obtained) { %>
                        <input class="btn-check" id="<%= minion.id %>-obtained-minion" type="radio" value="t" name="obtained" checked />
                        <label class="btn btn-outline-success" for="<%= minion.id %>-obtained-minion">Have</label>
    
                        <input class="btn-check" id="<%= minion.id %>-unobtained-minion" type="radio" value="f" name="obtained" />
                        <label class="btn btn-outline-warning" for="<%= minion.id %>-unobtained-minion">Don't have</label>    
                    <% } else { %>
                        <input class="btn-check" id="<%= minion.id %>-obtained-minion" type="radio" value="t" name="obtained" />
                        <label class="btn btn-outline-success" for="<%= minion.id %>-obtained-minion">Have</label>
    
                        <input class="btn-check" id="<%= minion.id %>-unobtained-minion" type="radio" value="f" name="obtained" checked />
                        <label class="btn btn-outline-warning" for="<%= minion.id %>-unobtained-minion">Don't have</label>
                    <% } %>
    
                    <button hidden type="submit"></button>
                </form>
            </li>
    
            <form method="POST" action="/minions/<%= minion.id %>/?_method=DELETE">
                <button class="list-group-item list-group-item-action list-group-item-danger py-3" type="submit">Remove</button>
            </form>
        </ul>
    <% }) %>
</div>

<div class="container text-center my-5">
    <h3>Emotes</h3>

    <% if (user.emotes.length <= 0) { %>
        <p>No emotes saved 😞 Try searching for some to track!</p>
    <% } %>
    
    <% user.emotes.forEach(emote => { %>
        <ul class="list-group list-group-horizontal my-3">
            <a class="list-group-item list-group-item-action" href="/emotes/<%= emote.apiId %>">
                <img class="mx-3" src="<%= emote.icon %>" />
                <h5 class="d-inline mx-3"><%= emote.name %></h5>
            </a>
    
            <li class="list-group-item list-group-item-action">
                <form method="POST" action="/emotes/<%= emote.id %>/?_method=PUT">
                    <% if (emote.obtained) { %>
                        <input class="btn-check" id="<%= emote.id %>-obtained-emote" type="radio" value="t" name="obtained" checked />
                        <label class="btn btn-outline-success" for="<%= emote.id %>-obtained-emote">Have</label>
    
                        <input class="btn-check" id="<%= emote.id %>-unobtained-emote" type="radio" value="f" name="obtained" />
                        <label class="btn btn-outline-warning" for="<%= emote.id %>-unobtained-emote">Don't have</label>    
                    <% } else { %>
                        <input class="btn-check" id="<%= emote.id %>-obtained-emote" type="radio" value="t" name="obtained" />
                        <label class="btn btn-outline-success" for="<%= emote.id %>-obtained-emote">Have</label>
    
                        <input class="btn-check" id="<%= emote.id %>-unobtained-emote" type="radio" value="f" name="obtained" checked />
                        <label class="btn btn-outline-warning" for="<%= emote.id %>-unobtained-emote">Don't have</label>
                    <% } %>
    
                    <button hidden type="submit"></button>
                </form>
            </li>
    
            <form method="POST" action="/emotes/<%= emote.id %>/?_method=DELETE">
                <button class="list-group-item list-group-item-action list-group-item-danger py-3" type="submit">Remove</button>
            </form>
        </ul>
    <% }) %>
</div>